<!--!For copy-->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-2" class="single-product">
            <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/pepperoni-18112020104801.jpg');background-size: 140%;background-repeat: no-repeat;">
                    <span class="discount">15% off</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-3" class="single-product">
            <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/seafood-and-hokkaido-cheese-18112020103017.jpg');background-size: 140%;background-repeat: no-repeat;">
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-4" class="single-product">
            <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/seafood-paradise-18112020103339.jpg');background-size: 140%;background-repeat: no-repeat;">
                    <span class="new">new</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-1" class="single-product">
            <div class="part-1">
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-2" class="single-product">
            <div class="part-1">
                    <span class="discount">15% off</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-3" class="single-product">
            <div class="part-1">
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-4" class="single-product">
            <div class="part-1">
                    <span class="new">new</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <%- include('partials/orderList') %> 
        </div>
        <div class="modal-footer">
        </div>
        </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" name="Fname" id="modLabel">Food name</h2>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label for="recipient-name" name="Fdesc" class="col-form-label">Description:</label>
                            <h3 id="foodDescript"></h3>
                        </div>
                        <div class="form-group">
                            <label for="message-text" name="Freq" class="col-form-label">Special request:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>

                    <h2 id="foodQt"><button id="sub" onclick="substract()" class="order-qt-sub">-</button>
                        <p name="Fqt" style="display: inline;">0</p><button id="add" onclick="addition()" class="order-qt-add">+</button></h2>


                </div>
                <div class="modal-footer">
                    <button id="closeMod" onclick="closeMod()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitMod" onclick="submit()" type="button" class="btn btn-primary">Add to order</button>
                </div>
            </div>
        </div>
    </div>