<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-2" class="single-product">
            <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/pepperoni-18112020104801.jpg');background-size: 140%;background-repeat: no-repeat;">
                    <span class="discount">15% off</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-3" class="single-product">
            <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/seafood-and-hokkaido-cheese-18112020103017.jpg');background-size: 140%;background-repeat: no-repeat;">
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-4" class="single-product">
            <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/seafood-paradise-18112020103339.jpg');background-size: 140%;background-repeat: no-repeat;">
                    <span class="new">new</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-1" class="single-product">
            <div class="part-1">
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-2" class="single-product">
            <div class="part-1">
                    <span class="discount">15% off</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-3" class="single-product">
            <div class="part-1">
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-old-price">$79.99</h4>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>
<!-- Single Product -->
<div class="col-md-6 col-lg-4 col-xl-3">
    <div id="product-4" class="single-product">
            <div class="part-1">
                    <span class="new">new</span>
                    <ul>
                        <li><a><i class="bi bi-cart3"></i></a></li>
                        <li><a><i class="bi bi-heart-fill"></i></a></li>
                    </ul>
            </div>
            <div class="part-2">
                    <h3 class="product-title">Here Product Title</h3>
                    <h4 class="product-price">$49.99</h4>
                    <form action="">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="html">Pileapple</label><br>
                    </form>
            </div>
    </div>
</div>