<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                        <div class="header">
                                <h2>OrderList</h2>
                        </div>
                </div>
        </div>
            <div class="row">
                <% if( orderss!= '') {%>
                        <% orderss.forEach(function (orderss, index) {%> 
                                <!-- Single Product -->
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                        <div id="product-1" class="single-product">
                                                <div class="part-1" style="background-image: url('https://fs.hut1150.com/pizzas/taco---island-delight-(hd-web)_taid-21012021075801.jpg');background-size: 140%;background-repeat: no-repeat;">
                                                </div>
                                                <div class="part-2">
                                                        <h3 class="product-title"><%- orderss.tableID %> </h3>
                                                                <% orderss.orderList.forEach(function (orders, index) {%> 
                                                                        <h4 class="product-price"><%- orders %> </h4>
                                                                <% }) %> 
                                                </div>
                                        </div>
                                </div>
                        <% }) %> 
                <% } %> 
            </div>
    </div>
</section>