<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %> 
</head>
<body>
    <div class="testDiv" style="margin-top: 3%;">
        <%- include('partials/orderList') %> 
    </div>
    <div class="row">
        
        <div class="col-lg-6 col-sm-6">
            
        </div>
        <div class="col-lg-6 col-sm-6">

        </div>
    </div>

    <%- include('partials/footer') %> 