    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
            <a class="navbar-brand" href="/">Pizza de</a>
        </div>
    </nav>


    <div class="testDiv">
        <div class="containerr">
            <form id="login-form">
                <div class="row">
                  <h2 style="text-align:center">Login</h2>
            
                  <div class="col">
            
                    <input type="text" id="username" placeholder="Username" required>
                    <input type="password" id="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                  </div>
                  
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %> 

    <script>
        const form = document.getElementById('login-form')
        form.addEventListener('submit', async (event)=>{
            
            event.preventDefault()
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const result = await fetch('/4y0h9WnLw/TjWXpwK9EZ4D7WCZaB9s/2U/sPcnup1do=/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    password
                })
            }).then((res)=> res.json())

            if(result.status === 'ok'){
                console.log("Got token:", result.data)
                location.href = "http://52.202.156.6:8080/4y0h9WnLw/TjWXpwK9EZ4D7WCZaB9s/2U/sPcnup1do=/kitchen";
            }else {
                alert(result.error)
                
            }
        })
        
    </script>